/*
    --index
*/

.beer-card {
    background: #434273;
    border-radius: 15px;
    box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.15);
    padding: 20px 20px 20px 80px;
    margin-left: 51px;
    position: relative;
    height: 100px;
    color: #afacd9;
}

.beer-card + .beer-card {
    margin-top: 20px;
}

img {
    position: absolute;
    width: 110px;
    height: 110px;
    transform: translate( -134px, -5px);
    border-radius: 50%;
    object-fit: cover;
}

h2 {
    color: #fff;
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
    -webkit-line-clamp: 2;
}

.card-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.card-left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-right-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 40px;
    align-content: flex-end;
    text-align: right;
}

.score {
    padding-top: 5px;
    margin-bottom: 4px;
    color: #ffd700;
}

.ratings > small + small {
    margin-left: 10px;
}

.friends {
    position: relative;
    height: 20px;
    margin-top: auto;
}

.friends div {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 0;
}