ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: fixed;
    top: 25px;
    left: 0;
    right: 0;
    padding: 0 30px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}