a {
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    display: block;
    width: 24px;
    height: 24px;
    /* box-shadow: 5px 5px 8px -6px rgba(0,0,0,1); */
}

li + li a {
    margin-top: 10px;
}

.material-design-icon {
    margin-top: -2px;
}