.home {
    background: #3e3963;
}

.development-notice {
    position: fixed;
    display: block;
    background: gray;
    width: 100%;
    z-index: 199;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    color: white;
    font-weight: 500;
}