html, body {
    height: 100%;
    font-family: 'Montserrat';
}

.app {
    height: 100%;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

small.icon .material-design-icon {
    margin-right: 2px;
}